@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFF8F5;
}

ul {
  list-style-type: none;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.subtitle {
  color: #FF7751;
  font-size: 1rem;
}

.heading {
  color: #242851;
  font-size: 3.2rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 28px;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 0.5rem;
  }
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF8F5;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.header__logo h3 {
  font-size: 2.2rem;
}
.header__logo h3 span:first-child {
  color: #ff7852;
}
.header__logo h3 span:last-child {
  color: #8fc638;
}

.header__nav {
  width: 50%;
}
.header__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}
.header__nav-item {
  color: #242851;
}
.header__nav-toggle {
  display: none;
}

.header__button-item {
  background: linear-gradient(to bottom, rgb(255, 169, 146), rgb(255, 120, 82));
  box-shadow: 0px 10px 25px 0px rgba(255, 124, 84, 0.3);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .header__button-item {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 992px) {
  .header__button-item {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .header__button-item {
    font-size: 0.7rem;
    padding: 0.7rem 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .header__button-item {
    font-size: 0.6rem;
    padding: 0.6rem 1rem;
  }
}

.nav-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header__logo h3 {
    font-size: 2rem;
  }
  .header .container {
    padding: 0 0.5rem;
  }
  .header__nav {
    position: absolute;
    top: 9.5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: #FFF8F5;
  }
  .header__nav-list {
    flex-direction: column;
    gap: 0.5rem;
  }
  .header__nav-toggle {
    display: block;
  }
  .header__button {
    display: none;
  }
  .nav-toggle {
    display: block;
    cursor: pointer;
    font-size: 1.5rem;
  }
  .h-0 {
    height: 0;
  }
  .h-32 {
    height: 12.4rem;
  }
}
.main {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.main__title {
  font-size: 4.5rem;
  color: #242851;
}
.main__paragraph {
  font-size: 1.2rem;
  line-height: 34px;
  font-weight: 400;
}
.main__button:first-child {
  background: linear-gradient(to bottom, rgb(255, 169, 146), rgb(255, 120, 82));
  box-shadow: 0px 10px 25px 0px rgba(255, 124, 84, 0.3);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  cursor: pointer;
  margin-right: 1rem;
}
@media only screen and (max-width: 1200px) {
  .main__button:first-child {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 992px) {
  .main__button:first-child {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .main__button:first-child {
    font-size: 0.7rem;
    padding: 0.7rem 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .main__button:first-child {
    font-size: 0.6rem;
    padding: 0.6rem 1rem;
  }
}
.main__button:last-child {
  background: linear-gradient(180deg, #c3e48f 0%, #8ec637 65%);
  box-shadow: 0px 10px 25px 0px rgba(125, 181, 35, 0.3019607843);
  border: none;
  color: white;
  font-size: 1rem;
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  cursor: pointer;
}
@media only screen and (max-width: 1200px) {
  .main__button:last-child {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 992px) {
  .main__button:last-child {
    font-size: 0.8rem;
    padding: 0.8rem 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .main__button:last-child {
    font-size: 0.7rem;
    padding: 0.7rem 1.2rem;
  }
}
@media only screen and (max-width: 576px) {
  .main__button:last-child {
    font-size: 0.6rem;
    padding: 0.6rem 1rem;
  }
}
.main__image {
  width: 44%;
}

@media only screen and (max-width: 768px) {
  .main {
    flex-direction: column;
    margin-top: 5rem;
  }
  .main__content {
    gap: 1.5rem;
  }
  .main__title {
    font-size: 3.5rem;
  }
  .main__image {
    width: 70%;
  }
}
.care {
  margin: 5rem 0;
  background-color: #ffece4;
  border-radius: 2rem;
  padding: 4rem 2.5rem;
}
.care h5,
.care h2 {
  text-align: center;
}
.care__title {
  padding-bottom: 1.4rem;
}
.care__boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.2rem;
}
.care-box {
  padding: 2.5rem 1.5rem;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.care-box:hover {
  transform: scale(1.05);
}
.care-box:hover .care-box__image {
  transform: rotate(120deg);
}
.care-box__title {
  color: #242851;
  font-weight: 800;
  font-size: 1.4rem;
}
.care-box__image {
  padding: 1.5rem;
  width: 40%;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}
.care-box__image_one {
  background: linear-gradient(180deg, #b8deff 0%, #1d97ff 100%);
}
.care-box__image_two {
  background-color: white;
}
.care-box__image_three {
  background: linear-gradient(180deg, #ffe4aa 0%, #ff9c07 100%);
  box-shadow: 0px 12px 25px 0px rgba(250, 168, 45, 0.3019607843);
}
.care-box__image_four {
  background: linear-gradient(180deg, #afe6eb 0%, #36becb 100%);
  box-shadow: 0px 12px 25px 0px rgba(250, 168, 45, 0.3019607843);
}
.care-box:nth-child(2) {
  background: linear-gradient(180deg, #ffbba9 0%, #ff6236 100%);
  box-shadow: 0px 15px 40px 0px rgba(255, 122, 85, 0.3019607843);
}
.care-box:nth-child(2) .care-box__title,
.care-box:nth-child(2) .care-box__description {
  color: white;
}

/*# sourceMappingURL=main.css.map */
