@use "../abstract/variables" as vars;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: vars.$background;
}

ul {
  list-style-type: none;
}

.font-quicksand {
  font-family: "Quicksand", sans-serif;
}

.font-nunito {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

.subtitle {
  color: vars.$subtitle-color;
  font-size: 1rem;
}

.heading {
  color: vars.$heading-color;
  font-size: 3.2rem;
}

.paragraph {
  font-size: 1rem;
  line-height: 28px;
  font-weight: 400;
}

button a {
  color: white;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}